In [2]:
%run scraper1.py

There are 577 books listed on BookLooks as of 06/02/2023.
Roughly 46.0% of those titles are rated three or higher.
Ellen Hopkins is the most frequently mentioned author with 20 titles in this list.

In [2]:
a1=pd.read_csv("bookLooks_05_30_2023.csv")

In [12]:
url = 'https://www.amazon.com/'
headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'}
r = requests.get(url=url, headers=headers)
soup = BeautifulSoup(r.content,'html')

In [13]:
soup

<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en-us" class="a-no-js a-lt-ie9 a-lt-ie8 a-lt-ie7"> <![endif]--><!--[if IE 7]>    <html lang="en-us" class="a-no-js a-lt-ie9 a-lt-ie8"> <![endif]--><!--[if IE 8]>    <html lang="en-us" class="a-no-js a-lt-ie9"> <![endif]--><!--[if gt IE 8]><!--><html class="a-no-js" lang="en-us"><!--<![endif]--><head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<meta charset="utf-8"/>
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
<title dir="ltr">Amazon.com</title>
<meta content="width=device-width" name="viewport"/>
<link href="https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/AmazonUI-3c913031596ca78a3768f4e934b1cc02ce238101.secure.min._V1_.css" rel="stylesheet"/>
<script>

if (true === true) {
    var ue_t0 = (+ new Date()),
        ue_csm = window,
        ue = { t0: ue_t0, d: function() { return (+new Date() - ue_t0); } },
        ue_furl = "fls-na.amazon.com",
        ue_mid = "ATVPDKIKX0DER",
        ue_sid = (document.cookie.match(/session-id=([0-9-]+)/) || [])[1],
        ue_sn = "opfcaptcha.amazon.com",
        ue_id = 'ED308810ARK8YFS7JV0K';
}
</script>
</head>
<body>
<!--
        To discuss automated access to Amazon data please contact api-services-support@amazon.com.
        For information about migrating to our APIs refer to our Marketplace APIs at https://developer.amazonservices.com/ref=rm_c_sv, or our Product Advertising API at https://affiliate-program.amazon.com/gp/advertising/api/detail/main.html/ref=rm_c_ac for advertising use cases.
-->
<!--
Correios.DoNotSend
-->
<div class="a-container a-padding-double-large" style="min-width:350px;padding:44px 0 !important">
<div class="a-row a-spacing-double-large" style="width: 350px; margin: 0 auto">
<div class="a-row a-spacing-medium a-text-center"><i class="a-icon a-logo"></i></div>
<div class="a-box a-alert a-alert-info a-spacing-base">
<div class="a-box-inner">
<i class="a-icon a-icon-alert"></i>
<h4>Enter the characters you see below</h4>
<p class="a-last">Sorry, we just need to make sure you're not a robot. For best results, please make sure your browser is accepting cookies.</p>
</div>
</div>
<div class="a-section">
<div class="a-box a-color-offset-background">
<div class="a-box-inner a-padding-extra-large">
<form action="/errors/validateCaptcha" method="get" name="">
<input name="amzn" type="hidden" value="Dd0CRWNwPEQQq86CXxqJnA=="/><input name="amzn-r" type="hidden" value="/"/>
<div class="a-row a-spacing-large">
<div class="a-box">
<div class="a-box-inner">
<h4>Type the characters you see in this image:</h4>
<div class="a-row a-text-center">
<img src="https://images-na.ssl-images-amazon.com/captcha/cucusdhr/Captcha_lblwcwkaaz.jpg"/>
</div>
<div class="a-row a-spacing-base">
<div class="a-row">
<div class="a-column a-span6">
</div>
<div class="a-column a-span6 a-span-last a-text-right">
<a onclick="window.location.reload()">Try different image</a>
</div>
</div>
<input autocapitalize="off" autocomplete="off" autocorrect="off" class="a-span12" id="captchacharacters" name="field-keywords" placeholder="Type characters" spellcheck="false" type="text"/>
</div>
</div>
</div>
</div>
<div class="a-section a-spacing-extra-large">
<div class="a-row">
<span class="a-button a-button-primary a-span12">
<span class="a-button-inner">
<button class="a-button-text" type="submit">Continue shopping</button>
</span>
</span>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
<div class="a-divider a-divider-section"><div class="a-divider-inner"></div></div>
<div class="a-text-center a-spacing-small a-size-mini">
<a href="https://www.amazon.com/gp/help/customer/display.html/ref=footer_cou?ie=UTF8&amp;nodeId=508088">Conditions of Use</a>
<span class="a-letter-space"></span>
<span class="a-letter-space"></span>
<span class="a-letter-space"></span>
<span class="a-letter-space"></span>
<a href="https://www.amazon.com/gp/help/customer/display.html/ref=footer_privacy?ie=UTF8&amp;nodeId=468496">Privacy Policy</a>
</div>
<div class="a-text-center a-size-mini a-color-secondary">
          © 1996-2014, Amazon.com, Inc. or its affiliates
          <script>
           if (true === true) {
             document.write('<img src="https://fls-na.amaz'+'on.com/'+'1/oc-csi/1/OP/requestId=ED308810ARK8YFS7JV0K&js=1" />');
           };
          </script>
<noscript>
<img src="https://fls-na.amazon.com/1/oc-csi/1/OP/requestId=ED308810ARK8YFS7JV0K&amp;js=0"/>
</noscript>
</div>
</div>
<script>
    if (true === true) {
        var head = document.getElementsByTagName('head')[0],
            prefix = "https://images-na.ssl-images-amazon.com/images/G/01/csminstrumentation/",
            elem = document.createElement("script");
        elem.src = prefix + "csm-captcha-instrumentation.min.js";
        head.appendChild(elem);

        elem = document.createElement("script");
        elem.src = prefix + "rd-script-6d68177fa6061598e9509dc4b5bdd08d.js";
        head.appendChild(elem);
    }
    </script>
</body></html>

In [14]:
df1

,title,author,rating,slick_sheet
0,A is for Activist,Innosanto Nagara,1,...
1,An ABC of Equality,Chana Ginelle Ewing,1,...
2,Ablaze with Color: A Story of Painter Alma Tho...,Jeanne Walker Harvey,1,...
3,The Absolutely True Diary of a Part-Time Indian,Sherman Alexie,2,...
4,Ace Voices,Eris Young,3,...
...,...,...,...,...
518,You: A Novel,Caroline Kepnes,4,...
519,"You Be You!: The Kid's Guide to Gender, Sexual...",Jonathan Branfman,2,...
520,The You I've Never Known,Ellen Hopkins,3,...
521,You Matter,Christian Robinson,0,...
522,You Too?,Janet Gurtler,3,...

In [8]:
a1=pd.merge(df1,table,how='left')

In [11]:
a1[a1.title.str.contains("Little",na=False,case=False)]

,title,author,rating,slick_sheet,reasons_for_challenge,years_published,alaRank10_19,alaRank00_09,alaRank90_99
319,Little and Lion,Brandy Colbert,3,...,NaN,NaN,NaN,NaN,NaN
320,The Little Black Book for Girlz: A Book on Hea...,St. Stephen's Community House,4,...,NaN,NaN,NaN,NaN,NaN
321,Little One,Ariel Andres Almada,0,...,NaN,NaN,NaN,NaN,NaN
322,"Little People, Big Dreams Laverne Cox",Maria Isabel Sanchez Vegara,1,...,NaN,NaN,NaN,NaN,NaN
323,"Little People, Big Dreams RuPaul",Maria Isabel Sanchez Vegara,1,...,NaN,NaN,NaN,NaN,NaN

In [25]:
a1[a1.alaRank10_19=="1"]

,title,author,rating,slick_sheet,reasons_for_challenge,years_published,alaRank10_19,alaRank00_09,alaRank90_99
3,The Absolutely True Diary of a Part-Time Indian,Sherman Alexie,2,...,"Content regarding alcohol, bullying, violence;...",2007,1,—,—

In [30]:
import numpy as np
a1['alaRank10_19']=a1.alaRank10_19.replace("—",np.nan).astype(float)

In [32]:
a1[a1.alaRank10_19<=10]

,title,author,rating,slick_sheet,reasons_for_challenge,years_published,alaRank10_19,alaRank00_09,alaRank90_99
3,The Absolutely True Diary of a Part-Time Indian,Sherman Alexie,2,...,"Content regarding alcohol, bullying, violence;...",2007,1.0,—,—
83,The Bluest Eye,Toni Morrison,4,...,"Themes of racism, incest and child sexual abuse",1970,10.0,15,34
158,Drama,Raina Telgemeier,2,...,"Includes LGBT characters, was deemed sexually ...",2012,7.0,—,—
201,George,Alex Gino,2,...,"Includes a transgender child, and the ""sexuali...",2015,5.0,—,—
503,Thirteen Reasons Why,Jay Asher,3,...,"Drugs/alcohol/smoking, sexually explicit, suic...",2007,3.0,—,—

In [35]:
a1[a1.reasons_for_challenge.str.contains("homo", case=False, na=False)]

,title,author,rating,slick_sheet,reasons_for_challenge,years_published,alaRank10_19,alaRank00_09,alaRank90_99
74,Beyond Magenta: Transgender Teens Speak Out,Susan Kuklin,2,...,"Anti-family, offensive language, homosexuality...",2014,27.0,—,—
254,I Am Jazz,Jessica Herthel and Jazz Jennings,1,...,"Inaccurate, homosexuality, sex education, reli...",2014,13.0,—,—
529,Two Boys Kissing,David Levithan,2,...,"Homosexuality and other (""condones public disp...",2013,18.0,—,—

In [3]:
mchallaut_highest=df1[(df1.author==most_challenged_author)&(df1.rating==5)].title.count()
most_challenged_author = df1.author.value_counts().index[0]
df1['rating']=df1.rating.astype(int)
most_common_rating_value=df1[df1.author==most_challenged_author].rating.astype(str).value_counts()[0]
most_common_rating=df1[df1.author==most_challenged_author].rating.astype(str).value_counts().index[0]
print("About "+str(most_common_rating_value)+" of "+str(most_challenged_author)+" books have a "+str(most_common_rating)+" rating on BookLooks.")
print("This author has "+str(mchallaut_highest)+" titles with the highest (worst) rating on BookLooks.")

About 9 of Ellen Hopkins books have a 3 rating on BookLooks.
This author has 2 titles with the highest (worst) rating on BookLooks.

In [4]:
df1['rating']=df1.rating.astype(int)
most_common_rating_value=df1[df1.author==most_challenged_author].rating.astype(str).value_counts()[0]
most_common_rating=df1[df1.author==most_challenged_author].rating.astype(str).value_counts().index[0]
print("About "+str(most_common_rating_value)+" of "+str(most_challenged_author)+" books have a "+str(most_common_rating)+" rating on BookLooks.")
print("This author has "+str(mchallaut_highest)+" titles with the highest (worst) rating on BookLooks.")

About 9 of Ellen Hopkins books have a 3 rating on BookLooks.
This author has 2 titles with the highest (worst) rating on BookLooks.

In [5]:
most_common_rating_value=df1[df1.author==most_challenged_author].rating.astype(str).value_counts()[0]
most_common_rating=df1[df1.author==most_challenged_author].rating.astype(str).value_counts().index[0]
print("About "+str(most_common_rating_value)+" of "+str(most_challenged_author)+" books have a "+str(most_common_rating)+" rating on BookLooks.")
print("This author has "+str(mchallaut_highest)+" titles with the highest (worst) rating on BookLooks.")

About 9 of Ellen Hopkins books have a 3 rating on BookLooks.
This author has 2 titles with the highest (worst) rating on BookLooks.

In [6]:
most_common_rating=df1[df1.author==most_challenged_author].rating.astype(str).value_counts().index[0]
print("About "+str(most_common_rating_value)+" of "+str(most_challenged_author)+" books have a "+str(most_common_rating)+" rating on BookLooks.")
print("This author has "+str(mchallaut_highest)+" titles with the highest (worst) rating on BookLooks.")

About 9 of Ellen Hopkins books have a 3 rating on BookLooks.
This author has 2 titles with the highest (worst) rating on BookLooks.

In [7]:
print("About "+str(most_common_rating_value)+" of "+str(most_challenged_author)+" books have a "+str(most_common_rating)+" rating on BookLooks.")
print("This author has "+str(mchallaut_highest)+" titles with the highest (worst) rating on BookLooks.")

About 9 of Ellen Hopkins books have a 3 rating on BookLooks.
This author has 2 titles with the highest (worst) rating on BookLooks.

In [97]:
mchallaut_highest=df1[(df1.author==most_challenged_author)&(df1.rating==5)].title.count()

In [111]:
print("This author has "+str(mchallaut_highest)+" titles with the highest (worst) rating on BookLooks.")

This author has 2 titles with the highest (worst) rating on BookLooks.

In [108]:
df1[(df1.author==most_challenged_author)].rating.max()

5

In [107]:
df1[(df1.author==most_challenged_author)&(df1.rating==5)].title

467    Triangles
468       Tricks
Name: title, dtype: object

scrape this page next
https://en.wikipedia.org/wiki/List_of_most_commonly_challenged_books_in_the_United_States